PORT=5000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=craque_vision
DB_USER=postgres
DB_PASSWORD=celio48
JWT_SECRET=sua_chave_secreta_aqui
CLOUDINARY_CLOUD_NAME=seu_cloud_name
CLOUDINARY_API_KEY=sua_api_key
CLOUDINARY_API_SECRET=sua_api_secret
MERCADOPAGO_ACCESS_TOKEN=seu_token_mercadopago
